.carMain {
    display: flex;
    padding: 0 38px !important;
}

.carCard {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.carHeader {
    display: flex;
    justify-content: space-between;
}


/* categories page css */
.mainCategories {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}

.categoryTxtIcon {
    display: flex;
    justify-content: space-between;
    padding: 0px 24px;
}

#categoryIcon1 {
    font-size: 24px;
    color: #D23F57;
}

.categoryTitle {
    font-size: 25px;
    font-weight: 700;
}

.categoryUnderTxtIcon1 {
    display: flex;
    align-items: center;
    gap: 12px;
}

.categoryUnderTxtIcon2 {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #7D879C;
    cursor: pointer;
}

#categoryIcon2 {
    display: flex;
    align-items: center;
    color: #7D879C;
}

.firstCategory {
    display: flex;
    justify-content: space-around;
}

.secondCategory {
    display: flex;
    justify-content: space-around;
}

.CategoryUnder {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgb(3 0 71 / 9%);
    display: flex;
    align-items: center;
    width: 15%;
    /* padding: 4px; */
    cursor: pointer;
    /* margin: 20px ; */
    /* margin: 24px 20px 0 20px; */
    border-radius: 10px;
}

.CategoryUnder:hover {
    box-shadow: 0px 8px 45px rgb(3 0 71 / 9%);
}

/* categories page css */


/* forMoreMain page css */
.forMoreMain {}

.forMoreCards {
    display: flex;
    flex-wrap: wrap;
}

/* forMoreMain page css */

/* footerMain page css */
.footerMain {
    padding: 16px 24px;
    margin: 0 34.5px;
}

.footerDiv {
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
}

.footerIcon {
    display: flex;
    justify-content: space-between;

}

#footerPlayStoreImgTxt {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    background-color: #161d2b;
    padding: 8px 16px;
    margin: 8px 0;
    border-radius: 10px;

}

#footerPlayStoreImg {
    padding-top: 6px;
}

#footerPlayStoreTxt {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

#footerPlayStoreTxt>span {
    font-weight: 700;
}

.footerPara,
#FooterAboutTxts,
#FooterCustomerCareTxts,
#footerContactUsPara,
#footerContactUsEmail,
#footerContactUsPhoneNum {
    color: #AEB4BE;
}

.footerPara {
    padding: 20px 0;
}

#FooterAboutTitle,
#FooterCustomerCareTitle,
#footerContactUsTitle {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

#FooterCustomerCarePara {
    padding: 4.5px 0;
    cursor: pointer;
}

#FooterCustomerCarePara:hover {
    color: #fff;
}

#footerContactUsPara,
#footerContactUsEmail,
#footerContactUsPhoneNum {
    padding: 4.5px 0;
}

#footerContactUsPhoneNum {
    margin-bottom: 4.8px;
}

#footerConatctIcon {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    text-align: center;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    margin: 4px;
    font-size: 12px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

#footerConatctIcon:hover {

    background-color: rgba(0, 0, 0, 0.04)
}

#footerConIcon {
    color: #fff;
}

/* footerMain page css */

/* flashDeal css */
.flashDeal {
    display: flex;
    justify-content: space-evenly;
}

/* flashDeal css */

/* top Categories css */
.topCategiesImgTxt>img {
    width: 90%;
    border-radius: 10px;
    cursor: pointer;
    height: auto;
}

.topCategiesImgTxt>img:hover {
    filter: brightness(65%);
    opacity: 1;
}

.topCategiesImgTxt {
    position: relative;
    border-radius: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 12px 0px;
    background-color: #fff;
    margin: 0 22px;
}

.topCategoriesTxt {
    position: absolute;
    top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.topCategories {
    display: flex;
    justify-content: space-around;
}

#topCategoriesTxt1 {
    background-color: #0F3460;
    color: #fff;
    border-radius: 14px;
    font-size: 10px;
    padding: 5px 8px;
}

#topCategoriesTxt2 {
    background-color: rgba(0, 0, 0, 0.08);
    color: #000;
    border-radius: 14px;
    font-size: 10px;
    padding: 5px 8px;
}

/* top Categories css */


/* Top Rating Card css*/

.topRatingCard {
    display: flex;
    justify-content: space-around;
}

.topRating {
    /* margin: 20px; */
    /* padding: 16px; */
    background-color: #fff;
    border-radius: 10px;
}

.featureCard {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
}

.topRatingOrFeaturesBrands {
    display: flex;
}

.featuredBrandsMain,
.topRatingMain {
    padding: 0 22px;
}

/* Top Rating Card css*/

/* newArival css */
.newArival {
    display: flex;
    background-color: #fff;
    padding: 16px;
    border-radius: 10px;
    margin: 0 22px;
}

/* newArival css */

/* bigDiscountCard css */
.bigDiscountCard {
    display: flex;
    padding: 0 12px;
}

/* bigDiscountCard css */

/* all classes max width set */
.bigDiscountMain,
.mainCategories,
.flashDealMain,
.secondImgMain,
.forMoreMain,
.newArivalMain,
.simpleCardMain,
.topCategoriesMain,
.topRatingOrFeaturesBrands,
.opticsWatch,
.mobile,
.car {
    max-width: 1300px;
    margin: auto;
    padding: 0 16px;
    padding-bottom: 80px;
    /* margin-bottom: 80px; */
}
.opticsWatch,
.mobile,
.car{
    margin-bottom: 80px;
}
/* all classes max width set */