.card {
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgb(3 0 71 / 9%);
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #fff;
}

#cardWidth3 {
    width: 30.88%;
    margin: 24px 0 0 24px;


}

#cardWidth2 {
    width: 22.69%;
    margin: 24px 0 0 24px;
}

#cardWidth1 {
    width: 22.69%;
    margin: 9px 9px;
    /* margin: 24px 0 0 24px; */
}


.card:hover {

    box-shadow: 0px 8px 45px rgb(3 0 71 / 9%);
}

.cradImgTxt>img {
    width: 100%;
}

.cradImgTxt {
    position: relative;

}

.cardOffer {
    position: absolute;
    left: 12px;
    top: 10px;
    background-color: #D23F57;
    color: #fff;
    border-radius: 13px;
    padding: 3px 8px;
    font-size: 10px;
}

#cardOfferPercen {
    font-size: 10px;
    padding-right: 3px;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.cardTxt {
    display: flex;
    flex-direction: column;
    height: 12vh;
    justify-content: space-around;
    min-height: auto;
    text-transform: capitalize;

}

.CardBtn {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}

.CardBtn>Button {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid rgba(210, 63, 87, 0.5);
    color: #D23F57;
    min-width: 0;
    min-height: 0;
    font-weight: 600;
    text-transform: capitalize;
    padding: 5px 5px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 14px;
}

.CardBtn>Button:active {
    background-color: rgba(210, 63, 87, 0.4)
}



#dolarTxt {
    margin-right: 10px;
    color: #D23F57;
}

.simpleCardIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 20px 0px 0px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 18px;
    background-color: rgb(243, 245, 249);
}

#simpleCardIcons {
    font-size: 30px;
}

.simpleCard {
    width: 55%;
    text-align: center;
    background-color: #fff;
    padding: 2.4rem;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgb(3 0 71 / 9%);
    cursor: pointer;
    margin: 0 10px;
}

.simpleCard:hover {
    box-shadow: 0px 8px 45px rgb(3 0 71 / 9%);
}

.simpleCardTitle {
    font-size: 18px;
    font-weight: 700;
    margin: 16px 0;
}

.simpleCardPara {
    color: #7D879C;
    margin: 18px 0;
    font-size: 16px;
}

.simpleCardIcon {
    margin: 8px;
}


.RatingCard>img {
    width: 100%;
    cursor: pointer;
    padding: 12px;

}

.RatingCard>img:hover {
    filter: drop-shadow(0 0 0 black);
}

.RatingCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.RatingTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* featureBrandCard css */

.featureBrandCard {
    border-radius: 10%;
    padding: 0 10px;
    cursor: pointer;
}

#fetureBrandImgWidth{
    width: 100%;
    border-radius: 10px;
}
#newArivalImgWidth{
    width: 100%;
    padding: 0 10px;
}

.featureBrandCard>img:hover {
    filter: brightness(65%);
    opacity: 1;
}

.featureBrandCard2>img:hover {
    filter: brightness(65%);
    opacity: 1;
}

.featureBrandTxt {
    padding-left: 10px;
    font-weight: 700;
}

/* featureBrandCard css */

/* bigDiscount css */

.bigDiscount>img {
    width: 100%;
    padding: 0 10px;
    cursor: pointer;
}

.bigDiscount>img:hover {
    /* background: black; */
    /* opacity: 0.1; */
    /* filter: drop-shadow(1px 2px 6px black); */

}

.bigDiscount {
    width: 15%;
    background-color: #fff;
    margin: 0 10px;
    box-sizing: 10px;
    border-radius: 10px;
}

.bigDiscountPrizeList>span {
    padding: 10px;
}

/* bigDiscount css */



/* responsive card */
@media only screen and (max-width: 1298px) {
    #cardWidth3 {
        width: 46.5%;
        ;
    }
}

@media only screen and (max-width: 875px) {
    #cardWidth3 {
        width: 45%;
    }
}


@media only screen and (max-width: 1045px) {
    .cardButton {
        display: none !important;
    }
}

@media only screen and (max-width: 1070px) {
    #cardWidth2 {
        width: 30.22%;
    }

}

@media only screen and (max-width: 802px) {
    #cardWidth2 {
        width: 45.1%;
    }
}

@media only screen and (max-width: 521px) {
    #cardWidth2 {
        width: 90%;
    }

}

@media only screen and (max-width: 860px) {
    .flashDeal {
        display: flex;
        flex-wrap: wrap;
    }

    #cardWidth1 {
        width: 45.3333%;
    }

    .RatingCard {
        width: 48.3333%;
    }

}

@media only screen and (max-width: 599px) {
    .flashDeal {
        display: flex;
        flex-direction: column;
    }

    #cardWidth1,
    #cardWidth3 {
        width: 95%;
        margin: 0;
        margin: 10px 0;
    }

    .topRatingCard {
        display: flex;
        flex-direction: column;
    }

    .RatingCard {
        width: 100%;
    }

    .carCard {
        display: flex;
        flex-direction: column;
    }


    .forMoreCards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #cardWidth2 {
        width: 100%;
        margin: 0;
        margin: 10px 0;
    }
}

@media only screen and (max-width: 860px) {

    .topRatingCard {
        display: flex;
        flex-wrap: wrap;
    }
}









/* responsive card */